<nav>

</nav>

<div class ="container" >
  <form [formGroup] ="registrationForm" (ngSubmit) ="onsubmit()">
    <h2 >Create Account</h2>
<div class="col-sm-3">
  <input type="text" class="form-control"  placeholder="First Name" name="firstName" formControlName="firstName">
  <small style="color: red; font-weight: bolder;" *ngIf="registrationForm.get('firstName')?.touched && registrationForm.get('firstName')?.hasError('required')">This field cannot be empty</small>
</div>
  
<br>

<div class="col-sm-3">
  <input type="text" class="form-control"  placeholder="Last Name" name="lastName" formControlName="lastName">
  <small style="color: red; font-weight: bolder;" *ngIf="registrationForm.get('lastName')?.touched && registrationForm.get('lastName')?.hasError('required')">This field cannot be empty</small>
  </div>

<br>

<div class="col-sm-3">
  <input type="email" class="form-control"  placeholder="Email" name="email" formControlName="email">
  <small style="color: red; font-weight: bolder;" *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.hasError('required')"> Email field is required</small>
  <small style="color:red; font-weight: bolder;" *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.hasError('email')">Invalid email</small>
</div>
  
<br>

<div class="col-sm-3">
    <input type="text" class="form-control"  placeholder="Phone Number" name="phone" formControlName="phone">
    <small style="color: red; font-weight: bolder;" *ngIf="registrationForm.get('phone')?.touched && registrationForm.get('phone')?.hasError('required')">Phone number is required</small>
    <small style="color:red; font-weight: bolder;" *ngIf="registrationForm.get('phone')?.touched && registrationForm.get('phone')?.hasError('pattern')">Invalid phone number</small>
</div>

<br>

<div class="col-sm-3">
    <input type="password" class="form-control"  placeholder="Enter your password" name="password" formControlName="password">  
    <small style="color: red; font-weight: bolder;" *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.hasError('required')">Enter Your Password</small>
    <small style="color:red; font-weight: bolder;" *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.hasError('minlength')">Password should atleast minimum 8 characters</small>
</div>

<br>

<div class="col-sm-3">
  <input type="password" class="form-control"  placeholder="Confirm Password" name="confirmpassword" formControlName="confirmpassword">
  <small style="color: red; font-weight: bolder;" *ngIf="registrationForm.get('confirmpassword')?.touched && registrationForm.get('confirmpassword')?.hasError('required')">Re-enter password</small>
  <small style="color:red; font-weight: bolder;" *ngIf="registrationForm.get('confirmpassword')?.touched && registrationForm.get('confirmpassword')?.hasError('MustMatch')">Password confirmation does not match</small>
</div>


    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a></p>
    
      <button type="submit" class="btn btn-warning mb-3" [disabled] = "registrationForm.invalid">Sign up</button>
    
    <div>
      <p>Already have an account? <a href="#"> <button type="button" class="btn btn-success">Login</button> </a></p>
    </div>

  </form>
</div>
