<nav>

</nav>

<div class ="container" >
  <form [formGroup] ="registrationForm" (ngSubmit) ="onsubmit()">
    <h2 >Create Account</h2>

  <div class="col-sm-3">
    
    <input type="text" placeholder="First name" class="form-control"formControlName='firstName' [ngClass]="{'is-invalid':submit&&f.firstName.errors}">
    <div *ngIf='submit&&f.firstName.errors' class="invalid-feedback">
    <div *ngIf="f.firstName.errors.required">First name is required</div>
    </div>
  </div>
<br>

  <div class="col-sm-3">
    <input type="text" placeholder="Last name" class="form-control" formControlName="lastName"[ngClass]="{'is-invalid':submit&&f.lastName.errors}">
    <div *ngIf='submit&&f.lastName.errors' class="invalid-feedback">
    <div *ngIf="f.lastName.errors.required">Last name is required</div>
    </div>
  </div>
<br>

  <div class="col-sm-3">
    <input type="email" placeholder="Email" class="form-control" formControlName="email"[ngClass]="{'is-invalid':submit&&f.email.errors}">
    <div *ngIf='submit&&f.email.errors' class="invalid-feedback">
    <div *ngIf="f.email.errors.required">Email is required</div>
    <div *ngIf="f.email.errors.email">Invalid email</div>
    </div>
  </div>
<br>

  <div class="col-sm-3">
    <input type="number" placeholder="Phone" class="form-control" formControlName="phone"[ngClass]="{'is-invalid':submit&&f.phone.errors}">
    <div *ngIf='submit&&f.phone.errors' class="invalid-feedback">
    <div *ngIf="f.phone.errors.required">Phone is required</div>
    <div *ngIf="f.phone.errors.pattern">Invalid phone number</div>
    </div>
  </div>
<br>

  <div class="col-sm-3">
    <input type="password" placeholder="Password" class="form-control" formControlName="password"[ngClass]="{'is-invalid':submit&&f.password.errors}">
    <div *ngIf='submit&&f.password.errors' class="invalid-feedback">
    <div *ngIf="f.password.errors.required">Password is required</div>
    <div *ngIf="f.password.errors.pattern">Password should contain minimum 8 characters with at least one uppercase, lowercase, special characters & digits.</div>
    </div>
  </div>
<br>

 

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a></p>
    
      <button type="submit" class="btn btn-warning mb-3" >Sign up</button>
    
    <div>
      <p>Already have an account? <a href="#"> <button type="button" class="btn btn-success">Login</button> </a></p>
    </div>

  </form>
</div>
